#red{
    background-color: red;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);    
    border-radius: 25%;
    width: 100px;
    height: 100px;
}
#Orange{
    background-color: Orange;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);    
    border-radius: 25%;
    width: 100px;
    height: 100px;
}
#Yellow{
    background-color: Yellow;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);    
    border-radius: 25%;
    width: 100px;
    height: 100px;
}
#green{
    background-color: green;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);    
    border-radius: 25%;
    width: 100px;
    height: 100px;
}
#SkyBlue{
    background-color: SkyBlue;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);    
    border-radius: 25%;
    width: 100px;
    height: 100px;
}
#Blue{
    background-color: Blue;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);    
    border-radius: 25%;
    width: 100px;
    height: 100px;
}
#Purple{
    background-color: Purple;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);    
    border-radius: 25%;
    width: 100px;
    height: 100px;
}
#white{
    background-color: white;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);    
    border-radius: 25%;
    width: 100px;
    height: 100px;
}
#colorpad{
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid white;    
    border-radius: 25%;
    width: 100px;
    height: 100px;
}
